{% extends "base.html" %}







{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 >Add Notifications</h1>

            <form  method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="categoryName">Notifications Name</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Enter Notifications Name">
                </div>
                
                
                <div class="form-group">
                    <label for="categoryName">Notifications Image</label>
                    <input type="file" class="form-control" id="notification_image" name="notification_image" placeholder="Upload Notifications Image" required>
                </div>
                <div class="form-group">
                    <label for="categoryName">Notifications message</label>
                    <textarea type="text" class="form-control" rows="4" cols="50" id="message" name="message" placeholder="Enter Notifications Discription"></textarea>
                    
                </div>
                
            
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        
        </div>
    </div>

    <div class="row">
    
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                Notifications
            </div>
            <div class="card-body" >
                <div class="table-responsive"  >
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>title</th>
                                <th>Order</th>
                                <th>Image</th>
                                <th>message</th>
                                <!-- <th>SubCategorys</th> -->
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>title</th>
                                <th>Order</th>
                                <th>Image</th>
                                <th>Description</th>
                                <!-- <th>SubCategorys</th> -->
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            
                            {% for notification in notifications %}
                            <tr>
                                <td>{{notification.title}}</td>
                                <td>{{notification.message}}</td>
                                <td>{{notification.notification_order}}</td>
                                <td><div style="text-align: center; "><img src="{{notification.notification_image}}" alt="{{notification.notification_url}}" style="max-width:100px;"></div></td>
                               
                               
                                <td>
                                    <a href="" class="btn btn-warning" style="font-size: x-small; width: fit-content;">Edit</a>
                                    <a href="{{url_for('deleteNotification', id=notification.id)}}" class="btn btn-danger" style="font-size: x-small; width: fit-content;">Delete</a>
                                </td>
                                
                            </tr>
                            {% endfor %}
                           
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
</div>


</div>





{% endblock %}