{% extends "base.html" %}







{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 >Edit Product</h1>

            <form  method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="categoryName">Product Name</label>
                    <input type="text" class="form-control" id="product_name_en" name="product_name_en" placeholder="Enter Product Name" value="{{prod.product_name_en}}">
                </div>
                <div class="form-group">
                    <label for="categoryName">Product Name(Arabic)</label>
                    <input type="text" class="form-control" id="product_name_ar" name="product_name_ar" placeholder="Enter Product Name (Arabic)" value="{{prod.product_name_ar}}">
                </div>

                <div class="form-group">
                    <label for="categoryName">Product Discription</label>
                    <textarea type="text" class="form-control" rows="4" cols="50" id="product_desc_en" name="product_desc_en" placeholder="Enter Product Discription">{{prod.product_desc_en}}</textarea>
                    
                </div>
                <div class="form-group">
                    <label for="categoryName">Product Discription(Arabic)</label>
                    <textarea type="text" class="form-control" id="product_desc_ar" rows="4" cols="50" name="product_desc_ar" placeholder="Enter Product Discription(Arabic)" >{{prod.product_desc_ar}}</textarea>
                </div> 
                <div class="form-group">
                    <label for="categoryName">Unit</label>
                    <input type="text" class="form-control" id="unit" rows="4" cols="50" name="unit" placeholder="Enter Product Unit" value="{{prod.unit_id}}">
                </div> 
                <div class="form-group">
                    <label for="categoryName">Unit Quantity</label>
                    <input type="text" class="form-control" id="unit_quantity" rows="4" cols="50" name="unit_quantity" placeholder="Enter Product Unit Quantity" value="{{prod.unit_quantity}}">
                </div> 
                

                <div class="fileUpload">
                <br>
                <h1>Upload Multiple Product Image Files</h1>
                <hr>   
                <div id="upload" class="upload">
                <input type="file" multiple onchange="showFile()" accept="image/*" name="product_image_url"  >
                </div>
                <ul id="preview"></ul>
                </div>
                <div class="container" style="margin: 1em;">
                    <div class="row">
                       
                        {% for image in prod_img %}
                        <div class="col-sm-2 ">
                            <div class="card" style="width: fit-content;">
                                <div class="card-body">
                                    <p class="card-text">
                                    <img src="{{image.product_image_url}}" alt="image" style="max-width: 100px;">

                                    </p>
                                    <a href="{{ url_for('deleteImage', id=image.id) }}"><img src="{{ url_for('static', filename='img/delete-icon.png') }}" style="max-width: 20px;" alt=""></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="categoryName">Product Price</label>
                    <input type="text" class="form-control" id="product_price" rows="4" cols="50" name="product_price" placeholder="Enter Product Price" value="{{prod_stock[0].product_price}}">
                </div> 
                <div class="form-group">
                    <label for="categoryName">Product Offer Price</label>
                    <input type="text" class="form-control" id="product_offer_price" rows="4" cols="50" name="product_offer_price" placeholder="Enter Product Offer Price" value="{{prod_stock[0].product_offer_price}}">
                </div> 
                <div class="form-group">
                    <label for="categoryName">Product Purchase Price</label>
                    <input type="text" class="form-control" id="product_purchase_price" rows="4" cols="50" name="product_purchase_price" placeholder="Enter Product Purchase Price " value="{{prod_stock[0].product_purchase_price}}">
                </div> 
                <div class="form-group">
                    <label for="categoryName">Opening stock</label>
                    <input type="text" class="form-control" id="opening_stock" rows="4" cols="50" name="opening_stock" placeholder="Enter Opening stock" value="{{prod_stock[0].opening_stock}}">
                </div> 
                <div class="form-group">
                    <label for="categoryName">Min Quantity</label>
                    <input type="text" class="form-control" id="min_stock" rows="4" cols="50" name="min_stock" placeholder="Enter Min Quantity" value="{{prod_stock[0].min_stock}}">
                </div> 
                <div class="form-group">
                    <label for="categoryName">Max Quantity</label>
                    <input type="text" class="form-control" id="max_stock" rows="4" cols="50" name="max_stock" placeholder="Enter Max Quantity" value="{{prod_stock[0].max_stock}}">
                </div> 


               
            
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        
        </div>
    </div>
</div>

<style>
    @import url(https://fonts.googleapis.com/css?family=Arimo);



a {
  color: blue;
  font-size: 13px;
  text-decoration: none;
}

hr {
   opacity: .3;
   margin: 2em 0;
}

.fileUpload {
   background: white;
   padding: 25px;
   margin: 0 auto;
}

div#upload {
   display: inline-block;
}

input[type="file"] {
background: #7886d8;
padding: 15px 230px 18px 20px;
border-radius: 4px;
cursor: pointer;
color: white;
width: 159px;
border: 2px solid #3F51B5;
outline: 0;
}

ul#preview {
   list-style: none;
   margin: 25px auto;
   padding: 0;
   display: block;
   max-width: 600px;
}

ul#preview li {
   display: inline-block;
   margin: 0 10px 10px;
   max-width: 100px;
}

ul#preview li img {
   width: 100%;
}
</style>

<script>
       // Check HTML5 File API Browser Support
   if (window.File && window.FileList && window.FileReader) {
       function showFile() {
           var preview = document.getElementById("preview");
           var fileInput = document.querySelector("input[type=file]");

           for (var i = 0; i < fileInput.files.length; i++) {
               var reader = new FileReader();
               reader.onload = function(readerEvent) {
                   var listItem = document.createElement("li");
                   listItem.innerHTML = "<img src='" + readerEvent.target.result + "' />";
                   preview.append(listItem);
               }
               reader.readAsDataURL(fileInput.files[i]);
           }
       }
   } else {
       alert("Your browser is too old to support HTML5 File API");
   }
</script>
{% endblock %}