<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Privacy Policy</title>

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

</head>
    <div class="container">
        <h1 style='margin-top:12.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:107%;font-size:21px;font-family:"Calibri Light",sans-serif;color:#2F5496;font-weight:normal;'>Privacy Policy for Kenz Food</h1>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <ol style="margin-bottom:0cm;list-style-type: decimal;margin-left:0cmundefined;">
        <li style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>
            <h2 style='margin-top:2.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:107%;font-size:17px;font-family:"Calibri Light",sans-serif;color:#2F5496;font-weight:normal;'><span style='font-family:"Times New Roman";'>Introduction</span></h2>
        </li>
    </ol>
</div>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>1.1 [Company Name] (&quot;we&quot;, &quot;us&quot;, or &quot;our&quot;) is committed to protecting the privacy of our users (&quot;you&quot;, &quot;your&quot;). This Privacy Policy explains how we collect, use, and share information when you use our Kenz Food App (&quot;App&quot;).</p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <ol style="margin-bottom:0cm;list-style-type: undefined;margin-left:0cmundefined;">
        <li style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>
            <h2 style='margin-top:2.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:107%;font-size:17px;font-family:"Calibri Light",sans-serif;color:#2F5496;font-weight:normal;'><span style='font-family:"Times New Roman";'>Information We Collect</span></h2>
        </li>
    </ol>
</div>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>2.1 We may collect the following types of information when you use the App:</p>
<ul style="list-style-type: disc;">
    <li>Personal Information: This includes information that can be used to identify you, such as your name, email address, and phone number.</li>
    <li>Payment Information: If you make a purchase through the App, we may collect your payment information, such as your credit or debit card number.</li>
    <li>Location Information: We may collect information about your location when you use the App, such as your IP address or GPS data.</li>
    <li>Device Information: We may collect information about the device you use to access the App, such as the device&apos;s unique identifier, operating system, and browser type.</li>
    <li>Usage Information: We may collect information about how you use the App, including the pages you visit and the actions you take.</li>
</ul>
<ol class="decimal_type" style="list-style-type: undefined;margin-left:0cmundefined;">
    <li>
        <h2 style='margin-top:2.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:107%;font-size:17px;font-family:"Calibri Light",sans-serif;color:#2F5496;font-weight:normal;'><span style='font-family:"Times New Roman";'>How We Use Your Information</span></h2>
    </li>
</ol>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>3.1 We may use your information for the following purposes:</p>
<ul style="list-style-type: disc;">
    <li>To provide the App and its features to you.</li>
    <li>To process your orders and deliveries.</li>
    <li>To communicate with you, such as to send you updates or promotional materials.</li>
    <li>To improve the App and develop new features.</li>
    <li>To protect the security and integrity of the App.</li>
</ul>
<ol class="decimal_type" style="list-style-type: undefined;margin-left:0cmundefined;">
    <li>
        <h2 style='margin-top:2.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:107%;font-size:17px;font-family:"Calibri Light",sans-serif;color:#2F5496;font-weight:normal;'><span style='font-family:"Times New Roman";'>Sharing Your Information</span></h2>
    </li>
</ol>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>4.1 We may share your information with third parties for the following purposes:</p>
<ul style="list-style-type: disc;">
    <li>To fulfill your orders and deliveries, we may share your information with our delivery partners.</li>
    <li>To process your payment, we may share your payment information with our payment processors.</li>
    <li>To comply with legal requirements, we may share your information with law enforcement or other government agencies.</li>
</ul>
<ol class="decimal_type" style="list-style-type: undefined;margin-left:0cmundefined;">
    <li>
        <h2 style='margin-top:2.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:107%;font-size:17px;font-family:"Calibri Light",sans-serif;color:#2F5496;font-weight:normal;'><span style='font-family:"Times New Roman";'>Your Choices</span></h2>
    </li>
</ol>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>5.1 You have the following choices regarding your information:</p>
<ul style="list-style-type: disc;">
    <li>You can opt out of receiving promotional emails from us by following the unsubscribe instructions in the emails.</li>
    <li>You can control the location information that is collected from your device by adjusting the settings on your device.</li>
</ul>
<ol class="decimal_type" style="list-style-type: undefined;margin-left:0cmundefined;">
    <li>
        <h2 style='margin-top:2.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:107%;font-size:17px;font-family:"Calibri Light",sans-serif;color:#2F5496;font-weight:normal;'><span style='font-family:"Times New Roman";'>Data Retention</span></h2>
    </li>
</ol>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>6.1 We will retain your information for as long as your account is active or as needed to provide you with the App and its features. We may also retain your information to comply with legal requirements, resolve disputes, and enforce our agreements.</p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <ol style="margin-bottom:0cm;list-style-type: undefined;margin-left:0cmundefined;">
        <li style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>
            <h2 style='margin-top:2.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:107%;font-size:17px;font-family:"Calibri Light",sans-serif;color:#2F5496;font-weight:normal;'><span style='font-family:"Times New Roman";'>Data Security</span></h2>
        </li>
    </ol>
</div>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>7.1 We take reasonable steps to protect your information from unauthorized access, use, or disclosure. However, no method of transmitting or storing data is completely secure, and we cannot guarantee the security of your information.</p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <ol style="margin-bottom:0cm;list-style-type: undefined;margin-left:0cmundefined;">
        <li style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>
            <h2 style='margin-top:2.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:107%;font-size:17px;font-family:"Calibri Light",sans-serif;color:#2F5496;font-weight:normal;'><span style='font-family:"Times New Roman";'>Changes to This Privacy Policy</span></h2>
        </li>
    </ol>
</div>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>8.1 We may update this Privacy Policy from time to time. If we make material changes to this Privacy Policy, we will provide notice through the App or by other means, such as email. Your continued use of the App after any such changes constitutes your acceptance of the new Privacy Policy.</p>
<div style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>
    <ol style="margin-bottom:0cm;list-style-type: undefined;margin-left:0cmundefined;">
        <li style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>
            <h2 style='margin-top:2.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;line-height:107%;font-size:17px;font-family:"Calibri Light",sans-serif;color:#2F5496;font-weight:normal;'><span style='font-family:"Times New Roman";'>Contact Us</span></h2>
        </li>
    </ol>
</div>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>9.1 If you have any questions or concerns about this Privacy Policy, you may contact us at [contact email or phone number].</p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:0cm;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;'>&nbsp;</p>
    </div>
</body>
</html>