{% extends "base.html" %}


{% block content %}
<div class="container">
   
        <h1>Secondary Banners</h1>
        <div class="row">
    
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <a href="{{url_for('addSecondaryBanner')}}" class="btn btn-success" style="text-align: right;">Add a Banner</a>
                    </div>
                    <div class="card-body" >
                        <div class="table-responsive"  >
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Name(Arabic)</th>
                                        <th>Order</th>
                                        <th>Image</th>
                                        <th>Description</th>
                                        <th>Description(Arabic)</th>
                                        <th>active</th>
                                        <!-- <th>SubCategorys</th> -->
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Name(Arabic)</th>
                                        <th>Order</th>
                                        <th>Image</th>
                                        <th>Description</th>
                                        <th>Description(Arabic)</th>
                                        <th>active</th>
                                        <!-- <th>SubCategorys</th> -->
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    
                                    {% for banner in banner %}
                                    <tr>
                                        <td>{{banner.banner_name_en}}</td>
                                        <td>{{banner.banner_name_ar}}</td>
                                        <td>{{banner.banner_order}}</td>
                                        <td><div style="text-align: center; "><img src="{{banner.banner_image_url}}" alt="{{banner.banner_image_url}}" style="max-width:100px;"></div></td>
                                        <td>{{banner.banner_desc_en}}</td>
                                        <td>{{banner.banner_desc_ar}}</td>
                                        <td>{{banner.status}}</td>
                                       
                                        <td>
                                            <a href="{{url_for('editSecondaryBanner', id=banner.id)}}" class="btn btn-warning" style="font-size: x-small; width: fit-content;">Edit</a>
                                            <a href="{{url_for('deleteSecondaryBanner', id=banner.id)}}" class="btn btn-danger" style="font-size: x-small; width: fit-content;">Delete</a>
                                        </td>
                                        
                                    </tr>
                                    {% endfor %}
                                   
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            
        </div>
    
</div>
{% endblock %}